@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  color: black;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.portrait {
  background-image: url("/profile-a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7rem;
  width: 15rem;
  height: 15rem;
  cursor: pointer;
  @media (min-width:1025px) {
    &:hover {
      background-image: url("/profile-b.jpg");
    }
  }

}

.spin {
  font-size: 40px;
  display: inline-block;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes twist-up {
  to {
    transform: rotateX(360deg);
  }
}